.education-detail {
  text-decoration: none;
  list-style: none;
  /* text-align: center; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  font-size: larger;
  color: royalblue;
  font-weight: 900;
}

.experience-detail {
  list-style: none;
  color: brown;
  margin: 10px;

}

.experience-detail li {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 2em;
  padding: 3em;
  border-radius: 10px
}

.skills-detail {
  list-style: none;
}

img {
  width: 100px;
  height: 50px;
}

.projects-detail {
  list-style: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: royalblue;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.navigation a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 40em;
  padding: 1em;
  font-size: larger;
}

.header a {
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
}


main h3 {
  text-align: center;
  font-size: 40px;
  color: darksalmon;
}

main p {
  font-size: 20px;
  text-align: center;
  color: navy;
}

.header a:hover {
  background-color: dimgrey;
  color: white;
}

.footer {
  margin-top: 3em;
  text-align: center;
}

#desk {
  width: 1500px;
  height: auto;
  margin: auto;
}

.skills-detail li {
  display: inline-block;
  margin: 1em;
}

#skill-image {
  height: auto;
  width: 170px;
  margin: 2em;

}

.info {
  /* border: 1px solid; */
  padding: 1em;
  margin-bottom: 2em;
  background-color: lavenderblush;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.education-detail {
  text-align: center;
  display: block;
}

.education-detail li {
  border: 1px solid black;
  margin: 2em;
  width: 300px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects-detail li {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 4em;
  padding: 2em;
  color: crimson;
}

.skills-detail {
  text-align: center;
  display: block;
}